@model IEnumerable<Reservation>
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media align-items-end profile-header">
                    <div class="media-body mb-5 text-white">
                        <h5 class="mt-10 mb-0">@User.Identity.Name</h5>
                        <h1>Мои билеты</h1>
                    </div>
                </div>
            </div>

            <div class="py-4 px-4">
                <div class="row">
                    @foreach(Reservation reservation in Model)
                    {
                        <div class="col-mb-6">
                            <div class="card-body mb-4 bg-light box-shadow">
                                <h1 class="row">
                                    <div class="col justify-content-start">@reservation.Session.Movie.Title</div>
                                    <div class="col justify-content-end text-end">#@reservation.Id</div>
                                </h1>
                                <h3>Сеанс: @reservation.Session.StartTime</h3>
                                <h4>@reservation.Session.Hall.Name, Места:</h4>

                                @foreach (ReservedSeat reservedSeat in reservation.ReservedSeats)
                                {
                                    <h5>Ряд @reservedSeat.RowNumber | Место @reservedSeat.SeatNumber</h5>
                                }
                            </div>
                        </div>
                    }
                   
                </div>
            </div>
        </div><!-- End profile widget -->