@model Session
@{
    List<Seat> reservedSeats = new List<Seat>();
    foreach(Reservation reservation in Model.Reservations)
    {
        foreach (ReservedSeat reservedSeat in reservation.ReservedSeats)
        {
            reservedSeats.Add(reservedSeat.Seat);
        }
    }
}

<div class="album py-5 bg-dark text-white justify-content-center hall-view">
    <div class="mx-5 mb-5">
        <h1>@Model.Movie.Title</h1>
        <h3>Сеанс: @Model.StartTime</h3>
        <h4>@Model.Hall.Name</h4>
    </div>
    <div class="container justify-content-center">
        <form method="post"> 
            @foreach(Row row in Model.Hall.Rows)
            {
                <div class="row row-cols-auto justify-content-center seat-row">
                    <div class="col seat-col text-light">@row.RowNumber</div>
                        @foreach(Seat seat in row.Seats)
                        {
                            if (reservedSeats.Contains(seat))
                            {
                                <div class="col seat-col">
                                    <label class="seat-place outline-dark bg-black text-white">@seat.SeatNumber</label>
                                </div>   
                        
                            }
                            else
                            {
                                <div class="col seat-col">
                                        <input type="checkbox" class="btn-check" name="@seat.Id" id="@seat.Id" value="true" onchange="document.getElementById('booking').disabled = !this.checked;">
                                    <label class="seat-place btn btn-outline-primary" for="@seat.Id">@seat.SeatNumber</label>
                                </div>
                            }
                        }
                    <div class="col seat-col text-light">@row.RowNumber</div>
                </div>
            }
        <input type="submit" class="btn btn-outline-success justify-content-center mt-5" disabled id="booking" value="Забронировать"></input>
        </form>
    </div>
</div>
