@model Session
@{
    Session session = Model;
    List<ReservedSeat> reservedSeats = new List<ReservedSeat>();
    foreach(Reservation reservation in session.Reservations)
    {
        foreach (ReservedSeat reservedSeat in reservation.ReservedSeats)
        {
            reservedSeats.Add(reservedSeat);
        }
    }
    int seatInRow = session.Hall.TotalSeats / session.Hall.TotalRows;
}

<div class="album py-5 bg-light justify-content-center hall-view">
    <p>@session.Hall.Name</p>
    <div class="container justify-content-center">
        <form method="post"> 
            @for (int i = 1; i <= session.Hall.TotalRows; i++)
        {
            <div class="row row-cols-auto justify-content-center seat-row">
                <div class="col seat-col">@i</div>
                @for (int j = 1; j <= seatInRow; j++)
                {
                    if (reservedSeats.Where(x => x.RowNumber == i && x.SeatNumber == j).Count()>0)
                    {
                        <div class="col seat-col">
                            <label class="seat-place btn-outline-dark bg-dark text-white" for="@i @j">@j</label>
                        </div>   
                        
                    }
                    else
                    {
                        <div class="col seat-col">
                            <input type="checkbox" class="btn-check" name="@i @j" id="@i @j" value="true">
                            <label class="seat-place btn btn-outline-primary" for="@i @j">@j</label>
                        </div>
                    }
                }
                <div class="col seat-col">@i</div>
            </div>
        }
        <input type="submit" class="btn btn-outline-success" value="Забронировать"></input>
        </form>
    </div>
</div>
