@model Session
@{int seatInRow = Model.Hall.TotalSeats / Model.Hall.TotalRows;}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="album py-5 bg-light justify-content-center">
    <p>@Model.Hall.TotalRows</p>
    <p>@Model.Hall.TotalSeats</p>
    <div class="container justify-content-center">
        <form method="post"> 
        @for (int i = 1; i <= Model.Hall.TotalRows; i++)
        {
            <div class="row row-cols-auto justify-content-center seat-row">
                <div class="col seat-col">@i</div>
                @for (int j = 1; j <= seatInRow; j++)
                {
                     <div class="col seat-col">
                                <input type="checkbox" class="btn-check seat-place" name="@i @j" id="@i @j" value="true">
                        <label class="btn btn-outline-primary" for="@i @j">@j</label>
                    </div>
                }
                <div class="col seat-col">@i</div>
            </div>
        }
        <input type="submit" class="btn btn-outline-primary" value="Забронировать"></input>
        </form>
    </div>
</div>
